div {
    border: 2px solid rebeccapurple;
    text-align: center;
  }
  
  div.publish-box {
    margin: auto;
    border: 2px solid salmon;
    display: flex;
    flex-direction: row;
    width: 80%; /* Usar porcentaje en lugar de píxeles para adaptabilidad */
    max-width: 950px; /* Agregar un límite máximo */
    height: 200px;
    justify-content: flex-start;
    border-radius: 20px;
  }
  
  div.publish-img {
    background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5f4bd7a6-f763-4518-9b81-bdfd40ce3fc9/d26yer1-421bb5b8-9fc2-4d5a-b2d1-1e1f81b26b82.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVmNGJkN2E2LWY3NjMtNDUxOC05YjgxLWJkZmQ0MGNlM2ZjOVwvZDI2eWVyMS00MjFiYjViOC05ZmMyLTRkNWEtYjJkMS0xZTFmODFiMjZiODIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.p5vfqGmq9kIylfG3glHGa20CAPUtoWlAxKEGpIvGOi8'); /* Usar una ruta local en lugar de una URL externa */
    width: 30%; /* Usar porcentaje en lugar de píxeles */
    max-height: 100%; /* Ajustar altura al 100% para llenar el contenedor */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  div.publish-description {
    flex: 1; /* Aprovechar la flexibilidad para llenar el espacio disponible */
    padding: 10px; /* Agregar espacio alrededor del contenido */
  }
  
  div.publish-description > h3 {
    text-align: center;
    margin: 0;
  }
  
  div.publish-ending {
    width: 250px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  
  div.amenities > p {
    text-align: left;
    margin-left: 10px; /* Cambiar 'left' a 'margin-left' */
  }
  
  div.amenities {
    border-radius: 20px;
    margin-top: 5px; /* Cambiar 'top' a 'margin-top' */
  }
  
  div.consult {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 150px;
    height: 50px;
    border-radius: 20px;
  }
  
  .publish-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .publisher {
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    background-size: 50px 50px;
    border-radius: 10px;
  }